@import '../../styles/variables.scss';

.profile-section-wrapper {
    height: fit-content;
    padding: 20px 0px;

    &-left {
        transition: width 1s;
        padding: 0px 20px 15px 20px;
        width: 260px;
        border: 1px solid $accent;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &-right {
        max-width: 80vw;
        width: 100%;
        transition: width 1s;
        border: 1px solid $accent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 0px 20px 30px 20px;
    }
}

.user-name {
    border-bottom: 1px solid $accent;
    padding: 20px 0px;
    margin-bottom: 10px;

    .name {
        white-space: pre-wrap;
        margin-left: 10px;
        text-align: left;
    }
}

.selection-name {
    border-bottom: 1px solid $accent;
    padding: 20px 0px;
    text-align: left;
}

.fields-wrapper {
    margin: 20px 10px 0px 10px;
}

.gender-radio-group {
    flex-direction: row !important;
}

.checks-wrapper {
    padding: 10px;
    margin-top: 50px;
    text-align: left;
}

.personal-id {
    margin-top: 20px;
}

.clear-button.main-section {
    display: none;
}


.profile-selection {
    white-space: nowrap;
    text-align: left;
    padding: 20px;
    margin: 5px 0px;

    &.coming-soon {
        &:hover {
            cursor: default !important;
            color: black !important;
            background-color: rgb(228, 228, 228) !important;
            border-radius: 10px;
            transition: .3s background ease;
        }
    }

    &:hover {
        cursor: pointer !important;
        color: $accent !important;
        background-color: $accent-bg !important;
        border-radius: 10px;
        transition: .3s background ease;
    }
}

.privacy-notice  {
    margin-top: 40px;

    & > div {
        margin-bottom: 10px;
        text-align: left;

        &.end-message {
            margin-top: 40px;
        }
    }
}

@media screen and (min-width: 960px) {
    .profile-selection.active {
        cursor: pointer;
        color: $accent;
        background-color: $accent-bg;
        border-radius: 10px;
        transition: .3s background ease;
    }
}

@media screen and (max-width: 960px) {
    .clear-button.main-section {
        display: block;
    }
    
    .profile-selection.active {
        cursor: pointer;
        color: black;
        background-color: transparent;
        border: none;
    }

    .profile-section-wrapper {
        &-left {
            max-width: 90vw;
            height: fit-content;
            border-radius: 10px !important;

            &.right-open {
                width: 0px !important;
                padding: 0;
                overflow: hidden !important;
                animation: fadeOut 1s;
                border: none !important;
            }
        }

        &-right {
            width: 100%;
            border-radius: 10px !important;

            .fields-container {
                justify-content: flex-start !important;
            }

            &.left-open {
                width: 0px !important;
                height: 0px !important;
                padding: 0;
                overflow: hidden !important;
                animation: fadeOut 1s;
                border: none !important;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .combo-wrapper {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px !important;

        & > div {
            margin-bottom: 10px;
        }
    }

    .about-wrapper {
        margin-top: 10px !important;
        min-width: 250px !important;
        width: 70vw !important;
    }

    .checks-wrapper {
        margin-top: 30px !important;
    }
}