@import '../../styles/variables.scss';

.description {
    margin-bottom: 20px;

    & > div {
        margin-top: 10px;
        max-width: 500px;
    }
}

.action-link {
    margin-top: 30px !important;
}