@import '../../styles/variables.scss';

.status-indicator {
    font-weight: bold;

    &.orange {
        color: #f4a410;
    }
    
    &.red {
        color: red;
    }

    &.green {
        color: rgb(11, 175, 11);
    }
}

.helper-text {
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
    .tournament-header {
        flex-direction: column !important;
        align-items: flex-start;
        margin-bottom: 30px;

        h2 {
            margin: 20px 0px 0px 0px !important;
            padding: 0px;
        }

        .status-indicator {
            font-size: 14px;
        }
    }
  }