@import '../../styles/variables.scss';

.left-container {
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-right: none;
    width: 350px;
    transition: width 1s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-container {
    z-index: 1;
    background: transparent;
}

.chats-container {
    overflow: scroll;
}

.chats-info {
    padding: 20px;
}

.right-container {
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: calc(100% - 350px);
    z-index: 2;

    .chat-header {
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
        padding: 20px;
    }

    .chat-messages {
        padding: 20px 20px 40px 20px;
        overflow: scroll;
        height: calc(80vh - 190px);
    }

    .recipient-container {
        &:hover {
            color: $accent;
            cursor: pointer;
        }

        .recipient-details {
            padding-left: 10px;
        }
    }

    .message-container {
        width: 100%;
        border-radius: 20px;
        margin-bottom: 10px;

        &.align-end {
            >div {
                flex-direction: row-reverse;

                .message {
                    background-color: rgba(235, 255, 235, 1.5);
                }
            }
        }

        &.align-start {
            .message {
                background-color: rgba(116, 116, 116, 0.116);
            }
        }

        .message {
            width: fit-content;
            padding: 5px 20px;
            border-radius: 20px;
        }

            
        .timestamp {
            color: rgba(0, 0, 0, 0.363);
            margin: 0px 10px;
        }

    }
}

.chat-summary {
    padding: 20px 2.5%;
    text-align: left;

    &:hover {
        background-color: rgba(235, 255, 235, 1.5);
        cursor: pointer;

        > svg {
            color: $accent !important;
        }
    }

    .summary {
        overflow: hidden;
        margin-left: 10px;

        .author {
            font-size: 18px;
        }
    
        .last-message {
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.MuiInput-root {
    padding: 3px;
}

.MuiInput-root:after {
    border-bottom-color: $accent !important;
}

.messages-search, .message-input {
    .MuiSvgIcon-root {
        margin-left: 10px !important;
    }

   .MuiInput-input {
       font-size: 18px !important;
       height: 40px !important;
   }
}

.message-input {
    .MuiInput-input {
        padding-left: 10px;
    }
}

.send-button.active, .info-button, .clear-button {
    margin-left: 10px;

        &:hover {
            cursor: pointer;
            color: $accent !important;
        }
}

.send-button.active {
    color: $accent;
}

.custom-input {
    width: calc(100% - 40px);
}

@media screen and (max-width: 900px) {

    .messages-search, .message-input {
        .MuiSvgIcon-root {
            margin-left: 10px !important;
        }
    
       .MuiInput-input {
           font-size: 16px !important;
           height: 40px !important;
       }
    }

    .left-container {
        width: 100% !important;
        transition: width 1s;
        // animation: fadeInWithoutScale 1s;
        border-right: 0.5px solid rgba(0, 0, 0, 0.5);
        border-radius: 20px !important;

        &.right-open {
            width: 0px !important;
            overflow: hidden;
            animation: fadeOut 1s;
            border: none !important;
        }
    }

    .right-container {
        width: 100% !important;
        transition: width 1s;
        border-radius: 20px !important;
        // animation: fadeInWithoutScale 1s;

        &.left-open {
            width: 0px !important;
            overflow: hidden;
            animation: fadeOut 1s;
            border: none !important;
        }
    }

}
