@import '../../styles/variables.scss';

.footer-wrapper {
    background: $background;
    color: $body;
    display: flex;
    flex-direction: column;
    bottom: 0;
    padding: 20px 50px;
    border-top: 1px solid rgba(172, 172, 172, 0.308);
    font-family: $fontFamily;

    .background-text {
        display: none;
        padding-left: 110px;
        position: absolute;
        font-size: 200px;
        color: $accent;
        opacity: 0.1;
        z-index: 0;
        font-weight: bold;
        font-style: italic;
    }

    h3 {
        text-transform: uppercase;
        color: $accent;
        border: 1px solid transparent;
        padding-bottom: 10px;
        width: 100%;
        border-bottom-color: $accent;
        text-align: left !important;
    }

    .sections-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1;
        align-items: flex-start;
    }

    .section-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $fontFamily !important;
            margin-bottom: 10px;

            > a {
                display: flex;
                align-items: center;
            }
        }

        &-item-alt {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $fontFamily !important;

            > a {
                display: flex;
                align-items: center;
            }
        }

        .classes-wrapper {
            display: flex;
            flex-direction: row;

            h4 {
                margin: 0 0 10px 0;
                font-weight: 600;
            }

            > div:nth-of-type(1) {
                margin-right: 30px;
            }

            &-schedule {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                
                > p {
                    margin-top: 0;
                    margin-bottom: 5px;
                }
            }
        }

    }

    a {
        text-decoration: none;
        color: $body;
        margin-bottom: 10px;
    }

    a:hover {
        color: $accent;
    }

    .copyright-wrapper {
        color: $body;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }
}


/* Extra Small and Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (max-width: 768px) {
@media only screen and (max-width: 1100px) {
    .footer-wrapper .sections-wrapper {
        flex-direction: column;

        .section-wrapper {
            margin-bottom: 30px;
        }
    }

    .footer-wrapper .copyright-wrapper {
        padding: 0 5vw 0 5vw;
    }

    .MuiTypography-body1 {
        text-align: left;
        line-height: 1.2;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
