@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

@import '../src/styles/variables.scss';
@import '../src/styles/LoadingIndicators.scss';

// transitions

@keyframes pulse {
	0% {
		transform: scale(0.7);
	}

	70% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(0.7);
	}
}

@keyframes fadeIn { 
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInWithoutScale { 
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut { 
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 3;

  >div {
    display: flex;
    flex-direction: column;
	  animation: pulse 2s infinite;

    h1 {
      color: $accent;
      margin: 0;
      padding: 0;
    }
  
    p {
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: 0.5s slideInFromLeft;
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

//css transitions
.page-enter {
  opacity: 0;
  transform: scale(1.01);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.99);
  transition: opacity 500ms, transform 500ms;
}

// animation: 1s ease-out 0s 1 slideInFromTop;


body {
  margin: 0 !important;
  padding: 0 !important;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

.App {
  text-align: center;
  background: $background;
  color: $body;
  font-family: $fontFamily !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App::-webkit-scrollbar {
  display: none !important;
}

button {
  font-family: $fontFamily;

  // &:disabled,
  // &[disabled]{
  //   border: 1px solid #999999;
  //   background-color: #cccccc;
  //   color: #666666;

  //   &:hover {
  //     background-color: #cccccc;
  //     color: #666666; 
  //     pointer-events: none;
  //   }
  // }
}

img {
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

a {
  font-family: $fontFamily !important;
}

h1 {
  font-size: $titleFontSize;
  text-transform: uppercase;
}

h2 {
  font-size: $h2FontSize;
  text-transform: uppercase;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.is-active {
  color: $accent !important;
}

::placeholder {
  font-family: $fontFamily;
}

.flex {
  display: flex;

  &-column {
    display: flex;
    flex-direction: column;
  }
}

.text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

.wrap {
  flex-wrap: wrap;
}

.error {
  color: red;
}

.full {
  &-height {
    height: 100% !important;
  }
  &-width {
    width: 100% !important;
  }
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.underlined {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.align {
  &-center {
    align-items: center;
  }
  
  &-start {
    align-items: flex-start;
  }

  &-end {
    align-items: flex-end;
  }
}

.left-align-text {
  text-align: left;
}

.right-align-text {
  text-align: left;
}

input {
  border-radius: 5px;
  height: 40px;
  border: 1px solid silver;
  font-size: 16px;
}

textarea {
  padding: 16.5px 14px;
  font: inherit;
}

.orange {
  color: #f4a410 !important;
}

.red {
  color: red !important;
}

.green {
  color: $accent !important;
}

.grey {
  color: silver;
}

.blue {
  color: #0383ff !important;
}

.login, .register {
  min-height: 500px;
}

.justify {

  &-start {
    justify-content: flex-start;
  }

  &-between {
    justify-content: space-between;
  }

  &-end {
    justify-content: flex-end;
  }

  &-center {
    justify-content: center;
  }
}

.container {
  margin: 20px 50px;
}

//language dropdown styles
.Dropdown {

  &-control {
    background-color: black !important;
    color: $body !important;
    border-color: rgba(192, 192, 192, 0.5) !important;
    margin-right: 50px;
  }

  &-option {
    top: auto !important;
    background-color: black !important;
    color: $body !important;

  }

  &-menu {
    border: 1px solid rgba(192, 192, 192, 0.5) !important;
  }

  &-option.is-selected {
    background-color: rgba(0, 0, 0, 0.842) !important;
  }
}

.body-wrapper {
  padding-top: 60px;
  min-height: 80vh;
  padding-top: $navbarHeight; 
}

.accent-color {
  color: $accent;
  word-break: break-word;
  // background: -webkit-linear-gradient(rgb(221,217,93), rgb(24,200,200));
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

.modal-title {
  font-weight: 500;
}

.close-icon {
  margin-left: 20px;
}

.section-title {
  font-weight: 600;
  margin-top: 30px;
}

.bold {
  font-weight: bold;
}

button {
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  background-color: white;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: $accent;
    color: white;
    border-color: $accent;
  }

  &.small {
    font-size: 14px;
  }
}

//buttons styles
.action-button {
  background-color: $accent;
  color: white;
  border: 1px solid transparent;

  &:hover {
    color: white;
    background-color: rgb(1, 80, 60);
    // box-shadow: 5px 10px $accent;
    // box-shadow: rgb(68, 68, 67) 0px 1px 2px, rgb(68, 68, 67) 0px 2px 4px, rgb(68, 68, 67) 0px 4px 8px, rgb(68, 68, 67) 0px 8px 10px,rgb(68, 68, 67) 0px 5px 5px, rgb(68, 68, 67) 0px 5px 5px;
  }
}

.secondary-button {
  color: $accent;
  background-color: transparent;
  border: 1px solid;
  color: $accent;
  border-color: $accent;

  &:hover {
    background-color: $accent !important;
    color: white;
  }

  > a {
    &:hover {
      color: white !important;
    }
  }

}

//button that has a link
.button-link {
  text-decoration: none;
  color: white;

  &:hover {
    color: black;
  }
}

//calendly button
.calendly-button {
  position: fixed;
  bottom: -10px;
  right: 30px;
  z-index: 3;
  visibility: hidden;
  box-shadow: rgb(0 0 0) 0px 13px 27px -5px, rgb(0 0 0 / 42%) 0px 8px 16px -8px;
}

.visible {
  visibility: visible !important;
  animation: 1.5s ease-out 0s 1 slideInFromBottom;
  bottom: 30px;
  right: 30px;
}

// background image
.background-image {
  background-position: center !important;
  background-size: cover !important;
}

.draws-wrapper {
  margin: 0px 10px 30px 0px;

  > div {
      width: 210px;
  }
}

// MATERIAL STYLES OVERRIDES

//dropdown menu styles
.MuiButton-text{ 
  color: black !important;
  border: 1px solid black !important;
  padding: 6px 15px !important; 
}

// normal button
.MuiButton-root {
  margin-right: 50px !important;
}

// outlined button
.MuiButton-outlinedPrimary {
  color: $accent !important;
  border: 1px solid $accent !important;
  
  &:hover {
    background-color: $accent-bg !important;
    // color: white !important;
  }

  &.red-button {
    border-color: red !important;
    color: red !important;

    &:hover {
      background-color: rgba(255, 0, 0, 0.082) !important;
    }
  }
}

.MuiInputBase-input {
  text-align: left !important;
}

.MuiInputLabel-root.Mui-focused {
  color: $accent !important;
  border-color: $accent !important;
}

.Mui-focused {
  .MuiOutlinedInput-notchedOutline {
    border-color: $accent !important;
  }
}

.Mui-checked, label.MuiFormLabel-root.Mui-focused { 
  color: $accent !important;
}

// contained button
.MuiButton-containedPrimary {
  background-color: $accent !important;

  &:hover {
    background-color: rgb(0, 54, 41) !important;
  }

  &.red-button {
    border-color: red !important;
    background-color: red !important;
    color: white !important;

    &:hover {
      background-color: rgb(104, 0, 0) !important;
    }
  }
}

.MuiTableCell-root.MuiTableCell-head {
  font-weight: bold !important;
  color: $accent;
}

.MuiTableBody-root .MuiTableRow-root {

  &:hover {
    background-color: $accent-bg;
    cursor: pointer;

    & > td {
      color: $accent;
    }
  }
}

.MuiBox-root {
  overflow: scroll !important;
  border-color: transparent !important;
  border-radius: 10px;
  max-width: 80vw;
  max-height: 80vh;
  width: fit-content;
  height: fit-content;
}

.MuiButton-root.Mui-disabled {
  background-color: silver !important;
  border: none !important;
  color: white !important
}

.MuiModal-root {
  overflow: scroll;
}

@media only screen and (max-width: 425px) {
  h2 {
    font-size: $smallh2FontSize;
    // padding: 20px;
  }

  .calendly-button {
    visibility: hidden !important;
  }

  .container {
    margin: 20px;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: $mediumh2FontSize;
  }
}

@media only screen and (max-width: 500px) {
  .MuiBox-root.large-modal {
    width: 85vw !important;
    max-height: 85vh !important;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
  .MuiBox-root.large-modal {
    width: 80vw !important;
    max-height: 80vh !important;
  }
}

@media only screen and (min-width: 1440px) {
  h2 {
    font-size: $largeh2FontSize;
  }
}