@import '../../styles/variables.scss';

.info-section {
    margin-bottom: 20px;

    & > div {
        margin-bottom: 5px;
    }
}

.rankings-header {
    margin-bottom: 20px;

    & > h2 {
        margin: 20px 0px 0px 0px !important;
        padding: 0px;
    }

    & > div {
        margin-top: 5px;
    }
}

.about-section {
    margin-top: 10px;
    font-style: italic;
}